* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
:root {
  --black-third: hsl(215, 31%, 14%);
  --black-second: hsl(230, 14%, 8%);
  --black-primary: hsl(158, 29%, 5%);
  --granite-gray: hsl(0, 0%, 40%);
  --go-green_50: hsla(145, 63%, 42%, 0.5);
  --go-green_8: hsla(145, 63%, 42%, 0.08);
  --go-green_5: hsla(145, 63%, 42%, 0.05);
  --light-gray: hsl(0, 0%, 80%);
  --mint-cream: hsl(160, 100%, 98%);
  --go-green: hsl(145, 63%, 42%);
  --white: hsl(0, 0%, 100%);
  --warn: lightcoral;
  --black-transparant: rgba(0, 0, 0, 0.3);

  --fs-xx-small: 10px;
  --fs-extra-small: 12px;
  --fs-small: 14px;
  --fs-regular: 16px;
  --fs-medium: 18px;
  --fs-large: 20px;
  --fs-extra-large: 24px;

  --fw-600: 600;
  --fw-500: 500;
  --fw-300: 300;

  --shadow-1: 3px 4px 30px hsla(0, 0%, 53%, 0.1);
  --shadow-2: 3px 4px 30px hsla(0, 0%, 53%, 0.2);
  --shadow-3: 5px 3px 40px hsla(191, 100%, 17%, 0.2);

  --radius-4: 4px;
  --radius-8: 8px;
  --radius-12: 12px;

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
}

nav {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .logo {
  font-size: var(--fs-large);
  font-weight: var(--fw-600);
}

body {
  background-color: var(--mint-cream);
}

.green {
  background-color: var(--go-green);
}
.orange {
  background-color: orange;
}
.red {
  background-color: lightcoral;
}
.secondary {
  background-color: var(--light-gray);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 15%;
  min-width: 50%;
}

.form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-input-data {
  flex: 1;
  background-color: var(--white);
  box-shadow: var(--shadow-1);
  padding: 1rem;
  max-width: 600px;
  border-radius: var(--radius-12);
}

.form-group {
  margin-bottom: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

label {
  font-size: var(--fs-extra-small);
}

input {
  display: block;
  width: 100%;
  font-size: var(--fs-small);
  padding: 4px 8px;
  border-radius: var(--radius-4);
  outline: none;
  border: 2px solid var(--light-gray);
  box-shadow: var(--shadow-1);
}

input:focus {
  outline: none;
  border: 2px solid var(--go-green);
}

#is-complete {
  width: fit-content;
}
.input-iscomplete {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
.input-iscomplete > label {
  font-size: var(--fs-small);
  color: var(--black-third);
}

.btn-form {
  border: none;
  color: var(--white);
  margin-top: 2rem;
  text-transform: capitalize;
  font-size: var(--fs-medium);
  font-weight: var(--fw-500);
  cursor: pointer;
  box-shadow: var(--shadow-3);
}

.btn-form:hover {
  background-color: darkgreen;
  transition: var(--transition-2);
}

.list-book-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
}

.finished-book,
.unfinished-book {
  flex: 1;
  padding: 1rem;
  box-shadow: var(--shadow-2);
  background-color: var(--white);
  border-radius: var(--radius-12);
}

.title {
  text-align: center;
  font-size: var(--fs-medium);
  font-weight: var(--fw-600);
  background-color: var(--go-green_8);
  padding: 0.5rem 0;
  margin-bottom: 1rem;
}

.list-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
  box-shadow: var(--shadow-1);
  padding: 1rem;
  border-radius: var(--radius-8);
  border: 1px solid var(--light-gray);
}

.card-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
}

.card-btn {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-btn button {
  border-radius: var(--radius-4);
  border: none;
  padding: 4px 8px;
  color: var(--black-second);
  cursor: pointer;
}

.card-book-name {
  font-size: var(--fs-regular);
  font-weight: var(--fw-600);
}
.card-author-data {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.card-author-name,
.card-year {
  font-size: var(--fs-small);
  font-weight: var(--fw-300);
}

.modal-wrapper {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 20%;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: var(--black-transparant);
}

.modal {
  margin: auto;
  padding: 1rem;
  width: fit-content;
  background-color: var(--white);
  border-radius: var(--radius-8);
  box-shadow: var(--shadow-3);
}

.modal-content {
  display: flex;
  gap: 1rem;
}

.modal-content p {
  font-size: var(--fs-regular);
  font-weight: var(--fw-600);
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

.modal-btn {
  text-align: center;
}
.modal-btn button {
  width: 64px;
  height: 32px;
  border-radius: var(--radius-4);
  border: none;
  margin-right: 1rem;
  cursor: pointer;
  transition: var(--transition-1);
}

.modal-btn button:hover {
  transform: scale(1.05);
}

.close {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -10px;
  color: var(--light-gray);
  font-size: var(--fs-extra-large);
  padding: 0.2rem 0.8rem;
  height: fit-content;
  width: fit-content;
  cursor: pointer;
}

.close:hover {
  color: var(--warn);
  transition: var(--transition-2);
}

@media screen and (max-width: 1000px) {
  .container {
    padding: 0 5%;
  }

  nav .logo {
    font-size: var(--fs-medium);
    font-weight: var(--fw-500);
  }

  .title {
    font-size: var(--fs-regular);
    font-weight: var(--fw-500);
    padding: 0.2rem 0;
    margin-bottom: 1rem;
  }

  .btn-form {
    margin-top: 1rem;
    font-size: var(--fs-regular);
  }

  .list-book-wrapper {
    flex-direction: column;
  }

  .finished-book,
  .unfinished-book {
    align-self: center;
    width: 100%;
  }

  .card-book-name {
    font-size: var(--fs-small);
    font-weight: var(--fw-600);
  }
  .card-author-data {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .card-author-name,
  .card-year {
    font-size: var(--fs-small);
    font-weight: var(--fw-300);
  }

  .modal-wrapper {
    padding-top: 250px;
  }
  .modal-content {
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
    gap: 0;
  }

  .modal-content p {
    font-size: var(--fs-small);
    font-weight: var(--fw-500);
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }

  .close {
    display: flex;
    align-items: center;
    margin-top: 0;
    justify-content: center;
  }
}
